<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | The Chicken Guide By Wyatt B</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header class="header">
    <h1><a href="/">Chicken Guide</a></h1>
    <h3>by </h3>
    <nav>
      <a href="/">Home</a>
      <a href="/chapters/">Chapters</a>
      <a href="/quizzes/">Quizzes</a>
      <a href="/authors/">Authors</a> 
      <a href="/about/">About</a>
      <img src="/assets/images/hen.PNG" alt="chicken" width="50"/>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 Sarap Farm Chickens</p>
  </footer>
  
  <script src="/assets/quiz.js"></script>

</body>
</html>
