---
layout: default
---

<h2>{{ page.title }}</h2>
{% include quiz.html id=page.quiz_id %}

{%- comment -%}▼ next / previous navigation ▼{%- endcomment -%}
{% assign quizzes = site.pages
     | where: "layout", "quiz"
     | sort:  "weight"  %}

{% assign prev = nil %}
{% assign next = nil %}
{% for q in quizzes %}
  {% if q.url == page.url %}
    {% unless forloop.first %}
      {% assign prev_index = forloop.index0 | minus: 1 %}
      {% assign prev = quizzes[prev_index] %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next_index = forloop.index0 | plus: 1 %}
      {% assign next = quizzes[next_index] %}
    {% endunless %}
  {% endif %}
{% endfor %}

<p class="nav">
  {% if prev %}<a href="{{ prev.url }}">← {{ prev.title }}</a> | {% endif %}
  <a href="/chapters/">Back to Chapters</a> | <a href="/">Home</a>
  {% if next %} | <a href="{{ next.url }}">{{ next.title }} →</a>{% endif %}
</p>
